<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eduonline.dao.UserOwnCoursesMapper" >
  <resultMap id="BaseResultMap" type="com.eduonline.model.UserOwnCourses" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="coursesIds" property="coursesids" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modity_time" property="modityTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, coursesIds, create_time, modity_time, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from us_user_own_courses
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from us_user_own_courses
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.eduonline.model.UserOwnCourses" >
    insert into us_user_own_courses (id, user_id, coursesIds, 
      create_time, modity_time, state
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{coursesids,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modityTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eduonline.model.UserOwnCourses" >
    insert into us_user_own_courses
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="coursesids != null" >
        coursesIds,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modityTime != null" >
        modity_time,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="coursesids != null" >
        #{coursesids,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modityTime != null" >
        #{modityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eduonline.model.UserOwnCourses" >
    update us_user_own_courses
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="coursesids != null" >
        coursesIds = #{coursesids,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modityTime != null" >
        modity_time = #{modityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eduonline.model.UserOwnCourses" >
    update us_user_own_courses
    set user_id = #{userId,jdbcType=BIGINT},
      coursesIds = #{coursesids,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modity_time = #{modityTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 以下自定义 -->
  <select id="qeuryUOwnCoursesByuserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	select 
    	<include refid="Base_Column_List" />
    from 
    	us_user_own_courses
    where 
    	user_id = #{userId,jdbcType=BIGINT}
  </select>
</mapper>